[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = git://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = git://github.com/mdxp/nodejs-cookbook.git
[submodule "cookbooks/couchdb"]
	path = cookbooks/couchdb
	url = git@github.com:opscode-cookbooks/couchdb.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
